<h2><%= @package.published_at %></h2>

<ul>
  <%= for news_item <- @package.news_items do %>
    <li><%= link news_item.title, to: package_news_item_path(@conn, :show, @package, news_item) %></li>
  <% end %>
</ul>

<%= render Newspacks.NewsItemView, "form.html", changeset: @news_item_changeset, action: package_news_item_path(@conn, :create, @package) %>

<%= link "Edit", to: package_path(@conn, :edit, @package) %>
<%= link "Back", to: package_path(@conn, :index) %>
