@font-face {
  font-family: 'avenir heavy condensed italic';
  src: url('/fonts/AvenirNextLTPro-HeavyCnIt.ttf') format('truetype');
}

@font-face {
  font-family: 'avenir bold condensed italic';
  src: url('/fonts/AvenirNextLTPro-BoldCnIt.ttf') format('truetype');
}

@font-face {
  font-family: 'avenir demibold condensed italic';
  src: url('/fonts/AvenirNextLTPro-DemiCnIt.ttf') format('truetype');
}

@font-face {
  font-family: 'avenir medium';
  src: url('/fonts/AvenirNext-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'gibson regular';
  src: url('/fonts/Gibson-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'gibson semibold';
  src: url('/fonts/Gibson-SemiBold.ttf') format('truetype');
}
