// Colors
$black:      #000;
$blue:       #2A6DBB;
$hotBlue:    #2384FF;
$gree:       #50BF6B;
$seaGreen:   #24C19F;
$red:        #FF4D4B;
$hotRed:     #FF4B7B;
$purple:     #DA6AD7;
$deepPurple: #8F51CA;
$teal:       #27D7C0;
$orange:     #FFBC17;
$magenta:    #F954B3;

// Font sizes
$fontSize--small:  12px;
$fontSize--medium: 15px;
$fontSize--large:  17px;
