// Colors
$black:      #000;
$blue:       #2A6DBB;
$hotBlue:    #2384FF;
$gree:       #50BF6B;
$seaGreen:   #24C19F;
$red:        #FF4D4B;
$hotRed:     #FF4B7B;
$purple:     #DA6AD7;
$deepPurple: #8F51CA;
$teal:       #27D7C0;
$orange:     #FFBC17;
$magenta:    #F954B3;

// Font sizes
$fontSize--small:  12px;
$fontSize--medium: 15px;
$fontSize--large:  17px;
$fontSize: $fontSize--medium;

// Type
$fontColor: $black;
$lineHeight: 1.4;

// Font families
$fontFamily--regular: sans-serif;
$fontFamily--heading: sans-serif;
$fontFamily: $fontFamily--regular;

// Media query breakpoints
$xSmallBreakpoint: 320px; // iPhone 5
$smallBreakpoint: 375px; // iPhone 6
$mediumBreakpoint: 414px; // iPhone 6+

// Media queries
$xSmallUp: "only screen";
$xSmallOnly: "only screen and (max-width: #{$xSmallBreakpoint})";
$smallUp: "only screen and (min-width: #{$smallBreakpoint})";
$smallOnly: "only screen and (min-width: #{$xSmallBreakpoint}) and (max-width: #{$smallBreakpoint})";
$mediumUp: "only screen and (min-width: #{$mediumBreakpoint})";
$mediumOnly: "only screen and (min-width: #{$smallBreakpoint}) and (max-width: #{$mediumBreakpoint})";
