@import '../utilities/mixins';
@import '../utilities/variables';

.Kitchensink {
  max-width: $breakpoint--widthMedium;
  margin: 0 auto;
}

.Kitchensink-sectionHeading {
  padding-right: $appPadding--right;
  padding-left: $appPadding--left;
  font-family: $fontFamily--demibold;
  font-size: 1.251em;
  margin-top: 2em;
  margin-bottom: .5em;
}

.Kitchensink .SmallStoryList .SmallStory:nth-child(1) {
  margin-top: 0;
}
