<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Nyhedspakker</title>
  </head>
  <body>
    <div id="root"></div>
    <%if (env === 'development') { %>
      <script src="/client/index.bundle.js"></script>
    <% } else { %>
      <script src="/index.bundle.js" type="text/javascript"></script>
    <% } %>
  </body>
</html>
