@import '../vendor/normalize';

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background: #fff;
  font-family: 'Helvetica Neue', sans-serif;
  padding: 0;
  margin: 0;
}

.App {
  background: white;
}

html, body, #root, .App {
  height: 100%;
  position: relative;
}
