@import '../utilities/variables';
@import '../utilities/mixins';
@import '../utilities/type';

// TODO: This component is not done at all

$ArticleHeader--minHeight: 500px;
$ArticleHeader--tilt: 8.35deg;

@mixin articleHeaderHeadingStyle($color, $accentColor) {
  .ArticleHeader-tiltedCropper { background-color: $color; }
  .ArticleHeader-heading em { color: $accentColor; }
}

.ArticleHeader {
  overflow: hidden;
  height: $ArticleHeader--minHeight;
  position: relative;
  z-index: 999;
}

.ArticleHeader-tiltedCropper {
  height: $ArticleHeader--minHeight;
  overflow: hidden;
  position: absolute;
  top: -40px;
  right: -100px;
  bottom: 0px;
  left: -100px;
  transform: rotate($ArticleHeader--tilt);
}

.ArticleHeader-image {
  // background-image is set in ArticleHeader.js
  background-repeat: no-repeat;
  background-size: cover;
  height: $ArticleHeader--minHeight*1.1;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 100px;
  z-index: 1;
  transform: rotate(-$ArticleHeader--tilt);
  max-width: $breakpoint--widthMedium;
}

// Put these things on top of the image
.ArticleHeader .ArticleHeader-heading,
.ArticleHeader .Tag,
.ArticleHeader .Pager,
.ArticleHeader .Pager i {
  z-index: 2;
}

.ArticleHeader-tagAndPager {
  display: flex;
  justify-content: space-between;
}

.ArticleHeader .Tag {
  width: 50%;
  @media #{$mediaQuery--smallUp} {  width: 45%; }
}

.ArticleHeader .Pager {
  width: 50%;
  padding-right: $appPadding--right;
  padding-left: 3%;
  @media #{$mediaQuery--smallUp} {  width: 55%; }
}

.ArticleHeader-heading {
  position: relative;
  @extend %heading--huge;
  padding-top: .65em;
  padding-right: $appPadding--right;
  padding-left: $appPadding--left;
  color: #fff;
}

.ArticleHeader-subHeading {
  color: #fff;
  padding-right: $appPadding--right;
  padding-left: $appPadding--left;
  margin-top: 1.35em;
  @media #{$mediaQuery--mediumUp} {  font-size: $fontSize--large; }
}

// Accent colors for the heading hightlight and bg color
.ArticleHeader { @include articleHeaderHeadingStyle($blue, $blueAccent); }
.ArticleHeader.ArticleHeader--blue       { @include articleHeaderHeadingStyle($blue, $blueAccent); }
.ArticleHeader.ArticleHeader--hotRed     { @include articleHeaderHeadingStyle($hotRed, $hotRedAccent); }
.ArticleHeader.ArticleHeader--teal       { @include articleHeaderHeadingStyle($teal, $tealAccent); }
.ArticleHeader.ArticleHeader--orange     { @include articleHeaderHeadingStyle($orange, $orangeAccent); }
.ArticleHeader.ArticleHeader--deepPurple { @include articleHeaderHeadingStyle($deepPurple, $deepPurpleAccent); }
.ArticleHeader.ArticleHeader--seaGreen   { @include articleHeaderHeadingStyle($seaGreen, $seaGreenAccent); }
.ArticleHeader.ArticleHeader--magenta    { @include articleHeaderHeadingStyle($magenta, $magentaAccent); }
.ArticleHeader.ArticleHeader--hotBlue    { @include articleHeaderHeadingStyle($hotBlue, $hotBlueAccent); }
.ArticleHeader.ArticleHeader--purple     { @include articleHeaderHeadingStyle($purple, $purpleAccent); }
.ArticleHeader.ArticleHeader--green      { @include articleHeaderHeadingStyle($green, $greenAccent); }
.ArticleHeader.ArticleHeader--red        { @include articleHeaderHeadingStyle($red, $redAccent); }

.ArticleHeader .DownButton {
  position: absolute;
  bottom: 30px;
  left: 50%;
  margin-left: -21px;
}

.ArticleHeader .GalleryButton {
  position: absolute;
  bottom: 10px;
  right: 8px;
}
