@import '../utilities/variables';
@import '../utilities/mixins';
@import '../utilities/type';

// TODO: This component is not done at all

@mixin articleHeaderHeadingStyle($color) {
  em { color: $color }
}

$ArticleHeader--minHeight: 280px;
$ArticleHeader--tilt: 8.35deg;

.ArticleHeader {
  overflow: hidden;
  height: $ArticleHeader--minHeight;
  position: relative;
  z-index: 999;
  @include backgroundImage('welcomeHeaderShadow.png', 375px);
  background-position: 0 232px;
  @media #{$mediaQuery--smallUp} { background-position-y: 224px; }
  @media #{$mediaQuery--mediumUp} { background-position-y: 218px; }
}

.ArticleHeader-image {
  // background-image is set in ArticleHeader.js
  background: $gradient--diagonalBlueToRed;
  background-repeat: no-repeat;
  background-size: cover;
  transform: rotate($ArticleHeader--tilt);
  height: $ArticleHeader--minHeight*1.1;
  position: absolute;
  right: -28px;
  bottom: 25px;
  left: -18px;
  z-index: 1;

  @media #{$mediaQuery--smallUp} {  bottom: 29px; }
  @media #{$mediaQuery--mediumUp} { bottom: 32px; }
}

// Put these things on top of the image
.ArticleHeader .ArticleHeader-heading,
.ArticleHeader .Tag,
.ArticleHeader .Pager,
.ArticleHeader .Pager i {
  z-index: 2;
}

.ArticleHeader-tagAndPager {
  display: flex;
  justify-content: space-between;
}

.ArticleHeader .Tag {
  width: 50%;
  margin-top: $appPadding--top;
  @media #{$mediaQuery--smallUp} {  width: 45%; }
}

.ArticleHeader .Pager {
  width: 50%;
  padding-right: $appPadding--right;
  padding-left: 3%;
  margin-top: $appPadding--top;
  @media #{$mediaQuery--smallUp} {  width: 55%; }
}

.ArticleHeader-heading {
  position: relative;
  @extend %heading--huge;
  padding-top: .65em;
  padding-right: $appPadding--right;
  padding-left: $appPadding--left;
  color: #fff;

  // Highlights with accent color
  em { color: $blueAccent }
}

// Accent colors for the heading hightlight
.ArticleHeader.ArticleHeader--blue       .ArticleHeader-heading { @include articleHeaderHeadingStyle($blueAccent); }
.ArticleHeader.ArticleHeader--hotRed     .ArticleHeader-heading { @include articleHeaderHeadingStyle($hotRedAccent); }
.ArticleHeader.ArticleHeader--teal       .ArticleHeader-heading { @include articleHeaderHeadingStyle($tealAccent); }
.ArticleHeader.ArticleHeader--orange     .ArticleHeader-heading { @include articleHeaderHeadingStyle($orangeAccent); }
.ArticleHeader.ArticleHeader--deepPurple .ArticleHeader-heading { @include articleHeaderHeadingStyle($deepPurpleAccent); }
.ArticleHeader.ArticleHeader--seaGreen   .ArticleHeader-heading { @include articleHeaderHeadingStyle($seaGreenAccent); }
.ArticleHeader.ArticleHeader--magenta    .ArticleHeader-heading { @include articleHeaderHeadingStyle($magentaAccent); }
.ArticleHeader.ArticleHeader--hotBlue    .ArticleHeader-heading { @include articleHeaderHeadingStyle($hotBlueAccent); }
.ArticleHeader.ArticleHeader--purple     .ArticleHeader-heading { @include articleHeaderHeadingStyle($purpleAccent); }
.ArticleHeader.ArticleHeader--green      .ArticleHeader-heading { @include articleHeaderHeadingStyle($greenAccent); }
.ArticleHeader.ArticleHeader--red        .ArticleHeader-heading { @include articleHeaderHeadingStyle($redAccent); }
