@import '../utilities/variables';
@import '../utilities/mixins';
@import '../utilities/type';

// TODO: This component is not done at all

$ArticleHeader--minHeight: 280px;
$ArticleHeader--tilt: 8.35deg;

.ArticleHeader {
  overflow: hidden;
  height: $ArticleHeader--minHeight;
  position: relative;
  z-index: 999;
  @include backgroundImage('welcomeHeaderShadow.png', 375px);
  background-position: 0 232px;
  @media #{$mediaQuery--smallUp} { background-position-y: 224px; }
  @media #{$mediaQuery--mediumUp} { background-position-y: 218px; }
}

.ArticleHeader-image {
  // background-image is set in ArticleHeader.js
  background: $gradient--diagonalBlueToRed;
  background-repeat: no-repeat;
  background-size: cover;
  transform: rotate($ArticleHeader--tilt);
  height: $ArticleHeader--minHeight*1.1;
  position: absolute;
  right: -28px;
  bottom: 25px;
  left: -18px;

  @media #{$mediaQuery--smallUp} {  bottom: 29px; }
  @media #{$mediaQuery--mediumUp} { bottom: 32px; }
}
