@import '../utilities/mixins';
@import '../utilities/variables';

.Kitchensink-sectionHeading {
  padding-right: $AppPadding--right;
  padding-left: $AppPadding--left;
  font-family: $fontFamily--demibold;
  font-size: 1.251em;
  margin-top: 2em;
  margin-bottom: .5em;
}
