@import '../utilities/variables';
@import '../utilities/mixins';
@import '../utilities/type';

@mixin nextStyle($color, $accentColor) {
  .Next-backgroundColor { background-color: $color; }
  // h2 { color: $accentColor; }
  // svg path { fill: $accentColor; }
}

%Next {
  @include nextStyle($blue, #fff);
  display: block;
  position: relative;
  height: 10em;

  h2 {
    padding-right: $appPadding--right*2.5;
    padding-left: $appPadding--left*2.5;
    @extend %heading--medium;
    text-align: center;
    margin-bottom: -.3em;
    color: #fff;
  }

  .Next-arrowRight {
    position: absolute;
    right: $appPadding--right;
    top: 50%;
    margin-top: -11px;

    path { fill: #fff; }
  }
}

.Next {
  margin-top: 3em;
}

.Next,
.Next-inner,
.Next-image,
.Next-backgroundColor { @extend %Next; }

.Next-inner {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Move 'layers' on top of eachother
.Next-image,
.Next-inner,
.Next-backgroundColor {
  position: absolute;
  top: 0;
  width: 100%;
}

.Next-image {
  background-size: cover;
  background-position: center center;
  -webkit-filter: grayscale(100%);
  mix-blend-mode: multiply;
}

.Next--blue       { @include nextStyle($blue, $blueAccent); }
.Next--hotRed     { @include nextStyle($hotRed, $hotRedAccent); }
.Next--teal       { @include nextStyle($teal, $tealAccent); }
.Next--orange     { @include nextStyle($orange, $orangeAccent); }
.Next--deepPurple { @include nextStyle($deepPurple, $deepPurpleAccent); }
.Next--seaGreen   { @include nextStyle($seaGreen, $seaGreenAccent); }
.Next--magenta    { @include nextStyle($magenta, $magentaAccent); }
.Next--hotBlue    { @include nextStyle($hotBlue, $hotBlueAccent); }
.Next--purple     { @include nextStyle($purple, $purpleAccent); }
.Next--green      { @include nextStyle($green, $greenAccent); }
.Next--red        { @include nextStyle($red, $redAccent); }

// Hide image on ios7 devices (they don't support this nizzleness)
.App[data-ios-version^='7'] .Next-image { display: none; }
.Next-image { display: none; }
