@import '../utilities/mixins';
@import '../utilities/variables';

$SmallStory--minHeight:   105px;
$SmallStory--borderWidth:   7px;

%SmallStory {
  @include backgroundImage('SmallStoryShadow.png', 375px);
  background-position: -50px 0;
  padding-top: 1em;
  padding-right: $appPadding--right;
  padding-bottom: 1.35em;
  padding-left: $appPadding--left*1.2;
  min-height: $SmallStory--minHeight;
  position: relative;
  background-color: #fff;
  
  &:before {
    content: "";
    display: block;
    width: $SmallStory--borderWidth;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: $blue;
  }

  &:after {
    @include backgroundImageReplacement('SmallStoryBorderShadow.png', 7px, 20px);
    content: "";
    position: absolute;
    top: 0;
    left: 0;
  }

  .Tag { margin-bottom: .25em; }

  @media #{$mediaQuery--smallUp} {
    padding-right: $appPadding--right*3;
    background-position: 0 0;
  }
}

%SmallStory--done {
  background-color: $gray--light;
  color: darken($gray, 5%);
  &:before { background-color: $gray; }

  .Tag {
    color: $gray--darkest;
    &:after {
      content: "";
      @include backgroundImageReplacement('tickmark.png', 14px, 13px);
      position: absolute;
      top: 1.25em;
      right: $appPadding--right*.85;
    }
  }
}

.SmallStory { @extend %SmallStory; }
.SmallStory.SmallStory--blue:before       { background-color: $blue; }
.SmallStory.SmallStory--hotBlue:before    { background-color: $hotBlue; }
.SmallStory.SmallStory--red:before        { background-color: $red; }
.SmallStory.SmallStory--hotRed:before     { background-color: $hotRed; }
.SmallStory.SmallStory--green:before      { background-color: $green; }
.SmallStory.SmallStory--seaGreen:before   { background-color: $seaGreen; }
.SmallStory.SmallStory--purple:before     { background-color: $purple; }
.SmallStory.SmallStory--deepPurple:before { background-color: $deepPurple; }
.SmallStory.SmallStory--teal:before       { background-color: $teal; }
.SmallStory.SmallStory--orange:before     { background-color: $orange; }
.SmallStory.SmallStory--magenta:before    { background-color: $magenta; }

.SmallStory.SmallStory--done { @extend %SmallStory--done; }
