@import '../vendor/swiper.scss';

.swiper-container {
  height: 100%;
  width: 100%;
}

.swiper-slide {
  height: 100%;
  box-shadow: inset 4px 4px rgba(red, .5), inset -4px -4px rgba(red, .5);
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
