@import '../vendor/swiper.scss';

.swiper-container {
  height: 100%;
  width: 100%;
}

.swiper-slide {
  height: 100%;
  background: rgba(pink, .5);

  &.overflow-scroll {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
}

.HomePage {
  box-shadow: inset 8px 8px rgba(red, 1), inset -8px -8px rgba(red, 1);
}

.TiledEntries {
  box-shadow: inset 4px 4px rgba(teal, 1), inset -4px -4px rgba(teal, 1);
}

