<h2>Show news item</h2>

<ul>

  <li>
    <strong>Title:</strong>
    <%= @news_item.title %>
  </li>

  <li>
    <strong>Body:</strong>
    <%= @news_item.body %>
  </li>

  <li>
    <strong>Package:</strong>
    <%= @news_item.package_id %>
  </li>

  <li>
    <strong>Url:</strong>
    <%= @news_item.url %>
  </li>

</ul>

<%= link "Edit", to: news_item_path(@conn, :edit, @news_item) %>
<%= link "Back", to: news_item_path(@conn, :index) %>
